body {
  font-family: 'Lora', serif;
}

#alignCenter {
  text-align: center;
}

.navbar-menu.is-active {
  box-shadow:none !important;
 }

.navbar-burger.is-active {
  color: black !important;
}

#thumb {
  box-shadow: 2px 2px 5px #888888;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#whiteSpace {
  color: white;
}

#blogTitle {
  margin-bottom: 20px;
}

#date {
  font-weight: 100;
  font-size: 14px;
}

#Post {
  margin-left: 50px;
  margin-right: 50px;
}

#postContent {
  margin-left: 50px;
  margin-right: 50px;
}

footer {
  text-align: left !important;
}

.tags {
  margin-top: 12px;
  margin-right: 20px;
}

.Contact {
  margin-left: 50px;
  margin-right: 50px;
}

#disqus_thread {
  margin-left: 50px;
  margin-right: 50px;
}

#hiddenForm {
position: absolute;
left: -5000px;
}

#emailHeader {
  color: black;
  font-size: 14px;
}

#navDropdown {
  color: #00d1b2 !important;
}

.navbar-link {
  color: #00d1b2 !important;
}

#mce-error-response {
  display: none
}

#mce-success-response {
  display: none
}

#mc-embedded-subscribe {
  margin-top: 10px;
  margin-bottom: 20px;
}

.subscribeForm {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
}

#blogEmail {
  width: 50%;
}

#blogButton {
  display: inline-flex !important;
}


#subscribeForm {
  text-align: center !important;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#subscribeHeader {
  font-weight: bolder;
}

#experienceHeaders {
  color: black;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

#experienceLogos {
  text-align: center;
}

.blogParagraph {
  font-family: 'Lora', serif;
}

#postCard {
  width: 50%;
}

.headshotDiv {
  text-align: center;
}

.headshot {
  border-style: solid;
  border-width: 1px;
  align-items: center;
  border-radius: 50%;
}

#icons {
  padding-right: 5px;
  padding-top: 3px;
}

#homeMessage {
  padding-top: 20px;
}

.hero {
  text-align: center
}

#homeButton {
  margin-top: 0px;
  text-align: center;
  padding-bottom: 20px;
}

#knight {
  height: 13%;
  width: 13%;
}

#illustrations {
  text-align: center;
  padding-top: 20px;
}

#illustrationSub{
  text-align: center;
}

#monster {
  height: 30%;
  width: 30%;
}

.Mission {
  margin-top: 0px;
}

.Navigation {
  text-align: center;
}

@media (max-width: 1000px) {
  .navbar-link {
    padding-right: 0px !important;
  }
}


#missionTitle {
  text-align: center;
  color: #00d1b2;

}

#missionSub {
  text-align: center;
}

#postTitle {
  text-align: center;
  color: black;
}

#contactHeader{
  text-align: center;
  color: #00d1b2;
}

.Msba {
  border: .5px;
  border-style: solid;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Msba p {
  margin-left: 50px;
  margin-right: 50px;
}

.Mission p {
  margin-left: 50px;
  margin-right: 50px;
}
