body {
  font-family: 'Lora', serif;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}

#hiddenForm {
position: absolute;
left: -5000px;
}

#emailHeader {
  font-weight: bolder;
}

#mce-error-response {
  display: none
}

#mce-success-response {
  display: none
}

#mc-embedded-subscribe {
  margin-top: 10px;
}

.subscribeForm {
  text-align: center !important;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
}

#blogEmail {
  width: 50%;
}

#blogButton {
  display: inline-flex !important;
}

#subscribeForm {
  text-align: center !important;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#subscribeHeader {
  font-weight: bolder;
}

#experienceHeaders {
  color: #00d1b2;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

#experienceLogos {
  text-align: center;
}

.blogParagraph {
  font-family: 'Lora', serif;
}

.headshotDiv {
  text-align: center;
}

.headshot {
  border-style: solid;
  border-width: 1px;
  align-items: center;
  border-radius: 50%;
}

#icons {
  padding-right: 5px;
  padding-top: 3px;
}

#homeMessage {
  padding-top: 20px;
}

.hero {
  text-align: center
}

#homeButton {
  margin-top: 0px;
  text-align: center;
  padding-bottom: 20px;
}

#homeButton a:link {
  color: #00d1b2;
}

#homeButton li {
  background-color: white;
}

#knight {
  height: 13%;
  width: 13%;
}

#illustrations {
  text-align: center;
  padding-top: 20px;
}

#illustrationSub{
  text-align: center;
  color: #00d1b2;
}

#monster {
  height: 30%;
  width: 30%;
}

.Mission {
  margin-top: 0px;
}

.Navigation {
  text-align: center;
}

#missionTitle {
  text-align: center;
  color: #00d1b2;

}

#missionSub {
  text-align: center;
}

#postTitle {
  text-align: center;
  color: #00d1b2;
}

#contactHeader{
  text-align: center;
  color: #00d1b2;
}
